<div class="navbar navbar-default">
    <!--<div class="navbar navbar-inverse navbar-fixed-top">-->
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">Artwork</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref="asgard">收藏夹</a></li>
                <li><a ui-sref=".topic">图文</a></li>
                <li><a  ng-href="#/location/host">推荐</a></li>
                <li><a ui-sref="artwork">搜索</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="Search">
            </form>
        </div>
    </div>
</div>