<script type="text/ng-template" id="collectionDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">添加到收藏夹</h3>
    </div>
    <div class="modal-body">
        <ul class="list-group">
            <li class="list-group-item collection-item" ng-repeat="collection in collections" ng-click="selected.item = collection">
                <strong>{{ collection.title }}</strong>
                <span class="glyphicon glyphicon-ok-sign pull-right"></span>
                <div>
                    <span>7条答案</span>
                    <span>0人回复</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a class="pull-left" ng-click="openCreateDialog()">创建收藏夹</a>
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
<!-- collection dialog templates -->
<div ng-include="'views/asgard/template/collectionCreateDialog.html'"></div>
<!--
<script type="text/ng-template" id="createCollectionDialog.html">
<div class="modal-header">
<h3 class="modal-title">添加到收藏夹</h3>
</div>
<div class="modal-body">
<ul class="list-group">
    <li class="list-group-item" ng-repeat="collection in collections">
        <a ng-click="selected.item = collection">{{ collection.title }}</a>
    </li>
</ul>
Selected: <b>{{ selected.item }}</b>
</div>
<div class="modal-footer">
<a class="pull-left" ng-click="open2()">创建收藏夹</a>
<button class="btn btn-primary" ng-click="ok()">OK</button>
<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</script>
 -->
        <style>
            .collection-item{
                margin: 5px;
                border-radius: 5px;
                list-style: none;
                cursor: pointer;
            }
        </style>