<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Bridge Africa</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Asgard</a></li>
                            <li><a ui-sref="asgard">Features</a></li>
                            <li><a ui-sref="magazine">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="inner cover">
                <h1 class="cover-heading">The bridge between Africa and the world !</h1>
                <p class="lead">
                    Africa is the largest of the three great southward projections from the largest landmass of the Earth. Separated from Europe by the Mediterranean Sea, it is joined to Asia at its northeast extremity by the Isthmus of Suez (transected by the Suez Canal), 163 km (101 mi) wide.[68] (Geopolitically, Egypt's Sinai Peninsula east of the Suez Canal is often considered part of Africa, as well.)
                </p>
                <p class="lead">
                    <button ng-click="submit()" type="button" class="btn btn-lg btn-primary">Log In</button>
                    <button ui-sref="asgard" type="button" class="btn btn-lg btn-primary">Learn more</button>
                </p>
                <!--the main ui view-->
                <div ui-view></div>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>Welcome to  <a href="http://www.lensafrik.com/">Bridge Africa</a>, by <a href="nonumber1989@gmail.com">@nonumber1989</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>