<div class="navbar navbar-inverse" ng-controller="LayoutController">
    <!--<div class="navbar navbar-inverse navbar-fixed-top">-->
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home">Asgard</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref="asgard">{{ 'home' | translate }}</a></li>
                <li><a ui-sref=".topic">Topic</a></li>
                <li><a ui-sref=".explore">Explore</a></li>
                <li><a ui-sref="artwork">Artwork</a></li>
				<li><a ui-sref="location">Location</a></li>
                <li><a popover-placement="bottom" popover="{{messagePopover}}" popover-title="{{messagePopoverTitle}}">Message</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <input type="text" class="form-control" placeholder="Search">
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">{{currentAccount.name}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ><a class="glyphicon glyphicon-user" aria-hidden="true" ui-sref="account">--My Page</span></a></li>
                        <li class="divider"></li>
                        <li><a class="glyphicon glyphicon-envelope" aria-hidden="true" ui-sref="inbox">--Inbox<span class="badge">42</span></a></li>
                        <li class="divider"></li>
                        <li><a class="glyphicon glyphicon-cog" aria-hidden="true" ng-href="#/setting/password">--Setting</a></li>
                        <li class="divider"></li>
                        <li><a class="glyphicon glyphicon-off" aria-hidden="true" ui-sref=".artwork">--Logout</a></li>
                    </ul>
                </li>
                <li><a ng-click="signIn()">{{ 'SignIn' | translate }}</a></li>
                <li><a ui-sref="about">{{ 'about' | translate }}</a></li>
                <li><a ui-sref="contact">{{ 'contact' | translate }}</a></li>
            </ul>
        </div>
    </div>
</div>
