<div>
    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="page-header text-center">
                        <h1>ASGARD</h1>
                        <small>与世界分享你的知识经验与见解</small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <form class="col-md-8">
                            <div class="form-group">
                                <label class="sr-only" for="email">Email address</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="user.email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                                <button type="submit" class="btn btn-primary btn-block" ng-click="signIn()">Sign in</button>
                        </form>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="col-md-6">
            <h3 class="page-header">天堂</h3>
            <div class="sevenUp-glyphicons">
                <ul class="sevenUp-glyphicons-list">
                    <li  ng-repeat="digest in digests">
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                        <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="page-header">天堂</h3>
        </div>

        <!--
        <div class="col-md-4">
            <div ng-repeat="digest in digests">
                <div class="col-md-4 digest-board">
                    <a class="thumbnail digest-circle" ng-mouseenter="showCurrent(digest)" ng-mouseleave="defaultCurrent()" ng-click="open(digest)">
                        <img src="images/yeoman.png" alt="..." height="64" width="64">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{currentDigest.title}}</h3>
                </div>
                <div class="panel-body">
                    {{currentDigest.content}}
                </div>
                <div class="panel-footer">{{currentDigest.id}}</div>
            </div>
        </div>
        -->
    </section>
</div>
        <style>
            .digest-board {
                text-align: center;
                padding: 5px;
            }
            .digest-circle {
                border-radius: 50%;
                margin-bottom: 5px;
            }
        </style>