<div>
    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="page-header text-center">
                        <h1>知乎</h1>
                        <small>与世界分享你的知识经验与见解</small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <form class="col-md-8">
                            <div class="form-group">
                                <label class="sr-only" for="email">Email address</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" style="padding: 5px">Sign in</button>
                        </form>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="col-md-4">
            <div ng-repeat="artwork in artworks">
                <div class="col-md-4">
                    <a class="thumbnail">
                            <img src="images/yeoman.png" alt="..." class="img-circle caption">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
                <div class="panel-footer">Panel footer</div>
            </div>
        </div>
    </section>
</div>