<div>
    <section class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-header text-center">
                        <h1>知乎</h1>
                        <small>与世界分享你的知识经验与见解</small>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="form-signIn">
                        <div class="input-group">
                            <span class="input-group-addon" id="email">@</span>
                            <input type="email" class="form-control" placeholder="Email address" aria-describedby="email">
                        </div>
                        <input type="password" class="form-control" placeholder="Password" required>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
                <div class="panel-footer">Panel footer</div>
            </div>
        </div>
    </section>
</div>