<div>
    <div class="container">
        <section class="col-md-9">
            <span><li class="glyphicon glyphicon-list"></li><strong>话题动态</strong></span>
            <a class="pull-right">共关注30个话题</a>
            <hr>
            <div ng-repeat="subject in subjects" >
                <div class="row">
                    <div class="col-md-2">
                        <h3>
                            <div class="thumbnail">
                                <img src="images/internet.jpg">
                            </div>
                        </h3>
                    </div>
                    <div class="col-md-10">
                        <div><strong>{{subject.title}}</strong>
                            <a><li class="glyphicon glyphicon-pushpin"></li>固定话题</a>
                            <a class="pull-right">取消关注</a>
                        </div>
                         <hr>
                        <div ng-repeat="topic in subject.subjects">
                            <h6><a>{{topic.title}}</a><span> {{topic.createTime}} 秒前创建</span></h6>
                        </div>
                    </div>

                </div>
                <hr>
            </div>
        </section>
        <section class="col-md-3">
            <span><li class="glyphicon glyphicon-list"></li><strong>常去话题</strong></span>
            <hr>
        </section>

    </div>
</div>