<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h3>
                    <div class="thumbnail">
                        <button type="button" class="btn btn-default">
                            <i class="glyphicon glyphicon-chevron-up" aria-hidden="true"></i>
                            <div >32</div>
                        </button>
                        <div class="caption">
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </h3>
            </div>
            <div class="col-md-10">
                <h3>IAMSK，后端工程师</h3>
                <h6>tei tei、王子剑、高大橙 等人赞同</h6>
                <p>This is a template for a simple marketing or informational website. It includes a large callout
                    called a jumbotron and three supporting pieces of content. Use it as a starting point to create
                    something more unique.</p>
                <div>发布于 2012-03-14  2 条评论 感谢 分享 收藏 • 没有帮助 • 举报 </div>
            </div>
        </div>
        <hr>
    </div>
</section>