<form class="form-horizontal col-md-6">
        <div class="form-group">
            <label for="userName" class="col-md-4 control-label">姓名</label>

            <div class="col-md-8">
                <input type="text" class="form-control" id="userName" placeholder="user Name">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-md-4 control-label">邮箱</label>

            <div class="col-md-8">
                <input type="email" class="form-control" id="email" placeholder="email">
            </div>
        </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </div>
</form>

