<div ui-view>
  <div class="container">
    <section class="col-md-9">
      <hr>
      <section class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title"><strong>展览</strong></span>
            <span class="pull-right">
                <span><li class="glyphicon glyphicon-fast-backward"></li></span>
                <span><li class="glyphicon glyphicon-fast-forward"></li></span>
            </span>
        </div>
        <div class="panel-body"></div>
      </section>
      <hr>
      <section class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title"><strong>聚会</strong></span>
            <span class="pull-right">
                <span><li class="glyphicon glyphicon-fast-backward"></li></span>
                <span><li class="glyphicon glyphicon-fast-forward"></li></span>
            </span>
        </div>
        <div class="panel-body">
        </div>
      </section>
      <hr>
      <section class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title"><strong>其它</strong></span>
            <span class="pull-right">
                <span><li class="glyphicon glyphicon-fast-backward"></li></span>
                <span><li class="glyphicon glyphicon-fast-forward"></li></span>
            </span>
        </div>
        <div class="panel-body">
        </div>
      </section>
    </section>
    <section class="col-md-3">
      <hr>
      <section class="thumbnail">
        <img data-src="holder.js/300x300" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </section>
      <hr>
      <section class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title"><strong>展览</strong></span>
            <span class="pull-right">
                <span><li class="glyphicon glyphicon-fast-backward"></li></span>
                <span><li class="glyphicon glyphicon-fast-forward"></li></span>
            </span>
        </div>
        <div class="panel-body">
        </div>
      </section>
    </section>
  </div>
</div>
