<div ui-view>
  <div class="container">
    <section class="col-md-9">
      <hr>
      <section class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title"><strong>展览</strong></span>
            <span class="pull-right">
                <span><li class="glyphicon glyphicon-fast-backward"></li></span>
                <span><li class="glyphicon glyphicon-fast-forward"></li></span>
            </span>
        </div>
        <div class="panel-body"></div>
      </section>
      <hr>
      <section class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title"><strong>聚会</strong></span>
            <span class="pull-right">
                <span><li class="glyphicon glyphicon-fast-backward"></li></span>
                <span><li class="glyphicon glyphicon-fast-forward"></li></span>
            </span>
        </div>
        <div class="panel-body">
        </div>
      </section>
      <hr>
      <section class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title"><strong>其它</strong></span>
            <span class="pull-right">
                <span><li class="glyphicon glyphicon-fast-backward"></li></span>
                <span><li class="glyphicon glyphicon-fast-forward"></li></span>
            </span>
        </div>
        <div class="panel-body">
        </div>
      </section>
    </section>
    <section class="col-md-3">
      <hr>
      <section class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title"><strong>展览</strong></span>
            <span class="pull-right">
                <span><li class="glyphicon glyphicon-fast-backward"></li></span>
                <span><li class="glyphicon glyphicon-fast-forward"></li></span>
            </span>
        </div>
        <div class="panel-body"></div>
      </section>
    </section>
  </div>
</div>
