<div ui-view>
  <div class="container">
    <section class="col-md-9">
        <section class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title"><strong>热门活动</strong></span>
            <span class="pull-right">
                <span><li class="glyphicon glyphicon-fast-backward"></li></span>
                <span><li class="glyphicon glyphicon-fast-forward"></li></span>
            </span>
            </div>
            <div class="panel-body">
                <div class="row-fluid">
                    <div class="col-md-3" ng-repeat="gathering in gatherings">
                        <div class="thumbnail">
                            <img src="images/yeoman.png">
                            <p class="caption">
                                <a class="text-center"><small>{{gathering.title}}</small></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      <hr>
      <section class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title"><strong>展览</strong></span>
            <span class="pull-right">
                <span><li class="glyphicon glyphicon-fast-backward"></li></span>
                <span><li class="glyphicon glyphicon-fast-forward"></li></span>
            </span>
        </div>
        <div class="panel-body">
            <div class="row-fluid">
                <div class="col-md-6" ng-repeat="gathering in gatherings">
                    <div class="thumbnail">
                        <div class="row caption">
                            <div class="col-md-4">
                                <img src="images/yeoman.png" width="80" height="80">
                            </div>
                            <div class="col-md-8">
                                <a><small>{{gathering.title}}</small></a>
                                <div>{{gathering.startTime}}</div>
                                <address >
                                    <strong>{{gathering.address}}</strong>
                                    <br>
                                    <abbr title="Phone">Phone:</abbr> (123) 456-7890
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <hr>
      <section class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title"><strong>聚会</strong></span>
            <span class="pull-right">
                <span><li class="glyphicon glyphicon-fast-backward"></li></span>
                <span><li class="glyphicon glyphicon-fast-forward"></li></span>
            </span>
        </div>
        <div class="panel-body">
        </div>
      </section>
      <hr>
      <section class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title"><strong>其它</strong></span>
            <span class="pull-right">
                <span><li class="glyphicon glyphicon-fast-backward"></li></span>
                <span><li class="glyphicon glyphicon-fast-forward"></li></span>
            </span>
        </div>
        <div class="panel-body">
        </div>
      </section>
    </section>
    <section class="col-md-3">
        <hr>
       <div class="thumbnail">
           <img src="images/internet.jpg" width="195">
       </div>
      <hr>
      <section class="thumbnail">
        <img data-src="holder.js/300x300" alt="...">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </section>
      <hr>
      <section class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title"><strong>展览</strong></span>
            <span class="pull-right">
                <span><li class="glyphicon glyphicon-fast-backward"></li></span>
                <span><li class="glyphicon glyphicon-fast-forward"></li></span>
            </span>
        </div>
        <div class="panel-body">
        </div>
      </section>
    </section>
  </div>
</div>
