<div ng-include="'views/layout/header.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section class="jumbotron">
                <div>
                    <strong>{{currentAccount.name}}</strong>
                    <span>,致敬知乎</span>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="images/yeoman.png">
                    </div>
                    <div class="col-md-8">
                        <div>
                            <span><li class="glyphicon glyphicon-map-marker"></li>上海</span>
                        </div>
                        <div>
                            <span><li class="glyphicon glyphicon-map-marker"></li>上海</span>
                        </div>
                        <div>
                            <span><li class="glyphicon glyphicon-map-marker"></li>上海</span>
                        </div>
                        <hr>
                        <div>{{currentAccount.description}}</div>
                    </div>
                </div>
                <div class="row">
                    <span>获得</span>
                    <span><li class="glyphicon glyphicon-thumbs-up"></li>2赞同</span>
                    <span><li class="glyphicon glyphicon-heart"></li>32感谢</span>
                </div>
            </section>
            <!-- navigation -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <li class="glyphicon glyphicon-home"></li>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">提问1</a></li>
                            <li><a href="#">回答3</a></li>
                            <li><a href="#">专栏文章10</a></li>
                            <li><a href="#">收藏9</a></li>
                            <li><a href="#">公共编辑1</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- good at
            <section class="panel panel-default">
                <div class="panel-heading">
                    <strong class="panel-title">擅长话题</strong>
                    <a class="pull-right"><li class="glyphicon glyphicon-pencil"></li>编辑擅长话题</a>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="expert in experts">
                            <span class="badge">14</span>
                            <span>{{expert.title}}</span>
                        </li>
                    </ul>
                </div>
            </section>
            -->
            <section class="jumbotron">
                <div>
                    <span><strong>擅长话题</strong></span>
                    <a class="pull-right"><li class="glyphicon glyphicon-pencil"></li>编辑擅长话题</a>
                </div>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="expert in experts">
                            <img src="images/internet.jpg" class="img-circle" width="50" height="50">
                                <span class="badge">14</span>
                                <span>{{expert.title}}</span>
                    </li>
                </ul>
            </section>
            <!-- answer -->
            <section class="jumbotron">
                <div>
                    <span><strong>回答</strong></span>
                    <a class="pull-right"><li class="glyphicon glyphicon-pencil"></li>编辑擅长话题</a>
                </div>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="expert in experts">
                        <span class="badge">14</span>
                        <span>{{expert.title}}</span>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-md-4">
            <section class="jumbotron">
                <div>
                    <span>关注了</span>
                    <span>关注者</span>
                </div>
                <hr>
                <div>
                    <strong>关注了<a>30个话题</a></strong>
                </div>
                <hr>
                <div>
                    <h10>个人主页被109人浏览</h10>
                </div>
            </section>
            <section class="jumbotron">
                知乎指南 建议反馈 移动应用 加入知乎 知乎协议 商务合作 © 2015 知乎
            </section>
        </div>
    </div>
</div>
        <style>
.cropArea {
background: #E4E4E4;
overflow: hidden;
width:500px;
height:350px;
}
        </style>
<div>
  <div>Select an image file: <input type="file" id="fileInput"/></div>
  <div class="cropArea">
      <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
  </div>
  <div>Cropped Image:</div>
  <div><img ng-src="{{myCroppedImage}}"/></div>
  </div>

<div  nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">

<div class="container">

  <div class="row">

    <div class="col-md-3">

      <h3>Select files</h3>

      <div ng-show="uploader.isHTML5">
        <!-- 3. nv-file-over uploader="link" over-class="className" -->
        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
          Base drop zone
        </div>

        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
          <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
            Another drop zone with its own settings
          </div>
        </div>
      </div>

      <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
      Multiple
      <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>

      Single
      <input type="file" nv-file-select="" uploader="uploader" />
    </div>

    <div class="col-md-9" style="margin-bottom: 40px">

      <h3>Upload queue</h3>
      <p>Queue length: {{ uploader.queue.length }}</p>

      <table class="table">
        <thead>
        <tr>
          <th width="50%">Name</th>
          <th ng-show="uploader.isHTML5">Size</th>
          <th ng-show="uploader.isHTML5">Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in uploader.queue">
          <td><strong>{{ item.file.name }}</strong></td>
          <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
          <td ng-show="uploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td class="text-center">
            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
          </td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
              <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <div>
        <div>
          Queue progress:
          <div class="progress" style="">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload all
        </button>
        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </button>
        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Remove all
        </button>
      </div>

    </div>

  </div>

</div>
</div>
<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }
    html, body { height: 100%; }
</style>
