<div>
    <div class="container">
        <div ui-view>
            <section class="col-md-8">
                <div class="page-header">
                    <span><li class="glyphicon glyphicon-list"></li><strong>互联网</strong></span>
                    <a class="pull-right">共关注30个话题</a>
                </div>

                <div class="list-group">
                    <div class="list-group-item" ng-repeat="follower in followers">
                        <!-- use media  -->
                        <div class="media">
                            <div class="media-left media-middle">
                                <a ng-href="#/account/{{follower.id}}">
                                    <img class="media-object" src="images/yeoman.png" alt="..." width="48" height="48">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{follower.uid}}</h4>
                                <p>{{follower.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="col-md-4">
                <button type="button" class="btn btn-primary">Follow</button>
                <span><a ng-href="#/asgard/topic/{{subject.id}}/follower">1115783</a> 人关注了该话题</span>
                <div>

                </div>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>描述</strong></h3>
                    </div>
                    <div class="panel-body">
                        国际互联网（Internetwork，简称Internet），始于1969年的美国，又称因特网，是全球性的网络，是一种公用信息的载体，是大众传媒国际互联网，始于1969年的美国，又称因特网，是全球性的网络，是一种公用信息的载体，是大众传媒的一种。具有快捷性、普及性，是现今最流行、最受欢迎的传媒之一。这种大众传媒比以往的任何一种通讯媒体都要快。互联网是由一些使用公用语言互相通信的计算机连接而成的网络，即广域网、局域网及单机按照一定的通讯协议组成的国际计算机网络。媒的一种。具有快捷性、普及性，是现今最流行、最
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>