<div ng-include="'views/layout/header.html'"></div>
<!--the asgard ui view-->
<div ui-view>
    <section>
        <div class="container">
            <div ng-repeat="subject in subjects">

            <div class="row">
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="images/yeoman.png">
                        <div class="caption">
                            <button class="btn btn-primary" type="button" ng-click="isCollapsed = !isCollapsed" ng-hide="isCollapsed">
                                <span class="badge">4</span>
                            </button>
                            <div ng-show="isCollapsed">
                            <button type="button" class="btn btn-default">
                                <i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i>
                                <div>32</div>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                            </button>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                        <h6>
                           <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Hot Topic , <strong>From</strong> 医学 <a>关注话题</a>
                            <!--<button type="button" class="btn btn-default pull-right" aria-label="Left Align">-->
                                <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                            <!--</button>-->
                            <a type="button" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></a>
                        </h6>

                    <h3>{{subject.title}}</h3>
                    <h6>tei tei、王子剑、高大橙 等人赞同</h6>

                    <p><span>{{subject.summary}}</span>
                        <!--<button type="button" class="btn btn-default" aria-label="Left Align">-->
                            <!--<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>-->
                        <!--</button>-->
                        <a>显示全部</a>
                    </p>


                    <h6>
                        <a><li class="glyphicon glyphicon-plus"></li>关注问题</a>
                        <a><li class="glyphicon glyphicon-comment"></li>1 条评论</a>
                        <a><li class="glyphicon glyphicon-heart"></li>感谢</a>
                        <a><li class="glyphicon glyphicon-share-alt"></li>分享</a>
                        <a><li class="glyphicon glyphicon-bookmark"></li>收藏</a>
                        <a>•没有帮助</a>
                        <a>•举报</a>
                    </h6>
                </div>
            </div>
            <hr>
        </div>

        </div>
    </section>

</div>
<!--<div ng-include="'views/layout/footer.html'"></div>-->